.content {
/*  background-color: #27384c;*/
}

.message {
  position: fixed;
  left: 10%;
  top: 20%;
  width: 80%;
  padding: 5px;
  background-color: #27384c;
  font-family: "Lato", Helvetica, Arial, sans-serif
  font-weight: 700;
  font-size: large;
  color: #ffffff;
  text-align: center;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  outline: none;
}

.button a:hover {
  text-decoration: none;
  background-color: #d35147;
}

.loader {
  position: absolute;
  height: 32px;
  width: 32px;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}
.list-view {
}
.image {
  cursor: pointer;
  margin: auto;
}
